$borderDarkenBy: 10%;
$fontSizeNormal: 15px; //wyjściowa wielkość czcionki
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$fontWeights: (
  'regular': 400,
  'medium': 500,
  'bold': 700
);

$fontColors: (
  'default': #151b1e
);
$fontColorsHover: (
  'default': #000
);

$backgroundColors: (
  'gray': #f7f7f7,
  'navigation': #016d67,
  'site': #fff
);

$paddings: (
  'normal': 0.5rem 1rem
);

$footer: (
  'color': map_get($fontColors, 'default'),
  'background-color': map_get($backgroundColors, 'gray'),
  'border-color': darken(map_get($backgroundColors, 'gray'), $borderDarkenBy),
  'font-size': 0.8rem,
  'padding': map_get($paddings, 'normal'),
  'anchor': lighten(map_get($fontColors, 'default'), 60%),
  'anchor-hover': lighten(map_get($fontColors, 'default'), 10%)
);

$header: (
        'color': #fff,
        'font-size': 0.8rem,
        'color-hover': lighten(map_get($backgroundColors, 'navigation'), 60%),
        'background-color': map_get($backgroundColors, 'navigation'),
        'background-color-hover': lighten(map_get($backgroundColors, 'navigation'), 2%),
        'padding': 1.3em 2em
);

$site: (
        'color': #000,
        'font-size': 1rem,
        'background-color': map_get($backgroundColors, 'site')
);
//scale-color(#036, $lightness: -30%)

//default transition
@mixin transition($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}