<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}app{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav id="menu">
        <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
        <input type="checkbox" id="tm">
        <ul class="main-menu cf">
            <li><a href="#">Sample</a></li>
            <li><a href="#">Dropdown
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm0">▾</label>
                </a>
                <input type="checkbox" id="sm0">
                <ul class="sub-menu">
                    <li><a href="#">Item 1.1</a></li>
                    <li><a href="#">Item 1.2</a></li>
                    <li><a href="#">Item 1.3</a></li>
                    <li><a href="#">Item 1.4</a></li>
                </ul>
            </li>
            <li><a href="#">2-level DD
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm1">▾</label>
                </a>
                <input type="checkbox" id="sm1">
                <ul class="sub-menu">
                    <li><a href="#">Item 2.1</a></li>
                    <li><a href="#">Item 2.2
                            <span class="drop-icon">▸</span>
                            <label title="Toggle Drop-down" class="drop-icon" for="sm2">▾</label>
                        </a>
                        <input type="checkbox" id="sm2">
                        <ul class="sub-menu">
                            <li><a href="#">Item 2.2.1</a></li>
                            <li><a href="#">Item 2.2.2</a></li>
                            <li><a href="#">Item 2.2.3</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Item 2.3</a></li>
                </ul>
            </li>
            <li><a href="#">Multiple Levels
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm3">▾</label>
                </a>
                <input type="checkbox" id="sm3">
                <ul class="sub-menu">
                    <li><a href="">3.1
                            <span class="drop-icon">▸</span>
                            <label title="Toggle Drop-down" class="drop-icon" for="sm4">▾</label>
                        </a>
                        <input type="checkbox" id="sm4">
                        <ul class="sub-menu">
                            <li><a href="">3.1.1</a></li>
                            <li><a href="">3.1.2</a></li>
                            <li><a href="">3.1.3</a></li>
                            <li><a href="">3.1.4</a></li>
                        </ul>
                    </li>
                    <li><a href="">3.2
                            <span class="drop-icon">▸</span>
                            <label title="Toggle Drop-down" class="drop-icon" for="sm5">▾</label>
                        </a>
                        <input type="checkbox" id="sm5">
                        </a>
                        <ul class="sub-menu">
                            <li><a href="">3.2.1</a></li>
                            <li><a href="">3.2.2</a></li>
                            <li><a href="">3.2.3</a></li>
                        </ul>
                    </li>
                    <li><a href="">3.3
                            <span class="drop-icon">▸</span>
                            <label title="Toggle Drop-down" class="drop-icon" for="sm6">▾</label>
                        </a>
                        <input type="checkbox" id="sm6">
                        </a>
                        <ul class="sub-menu">
                            <li><a href="">3.3.1</a></li>
                            <li><a href="">3.3.2</a></li>
                            <li><a href="">3.2.2</a></li>
                            <li><a href="">3.3.4</a></li>
                            <li><a href="">3.3.5</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Sample #2</a></li>
            <li><a href="#">Another DD
                    <span class="drop-icon">▾</span>
                    <label title="Toggle Drop-down" class="drop-icon" for="sm8">▾</label>
                </a>
                <input type="checkbox" id="sm8">
                </a>
                <ul class="sub-menu">
                    <li><a href="">4.1</a></li>
                    <li><a href="">4.2</a></li>
                    <li><a href="">4.2</a></li>
                    <li><a href="">4.4</a></li>
                </ul>
            </li>
        </ul>
    </nav>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
